@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --color-green: #50fa7b;
    --color-purlple: #7159c1;
    --scrollbarBG: #282a36;
    --thumbBG: #50fa7b;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: #282a36;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar {
    width: 11px;
}

body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

header {
    padding: 26px;
    border-bottom: 1px solid #333;
    background: rgba(0, 0 ,0, 0.1);
}

.links {
    text-align: center;
}

.links a {
    color: #fff;
    font-size: 16px;
    line-height: 26px;
    margin: 0 16px;
    padding-bottom: 3px;
    text-decoration: none;
}

.links a:hover {
    color: var(--color-green);
    transition: color 300ms;
}

#wrapper {
    text-align: center;
    padding: 26px;
}

#wrapper img {
    border-radius: 50%;
    border: 5px solid var(--color-green);
    margin-bottom: 26px;
    height: 250px;
}

#wrapper h1 {
    font-size: 38px;
    line-height: 48px;
    font-weight: bold;
}

#wrapper h2 {
    font-size: 20px;
    line-height: 28px;
    font-weight: normal;
    margin-top: 8px;
    opacity: 0.8;
}

#wrapper p {
    max-width: 500px;
    margin: 30px auto;
    font-size: 20px;
    line-height: 28px;
}

#links-footer {
    margin-bottom: 20px;
}

#links-footer a {
    border-bottom: 1px solid var(--color-green);
}

/* cards */

.cards {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    background-color: var(--color-purlple);
}

.card_image_container img {
    width: 100%;
}

.card_content,
.card_info {
    padding: 24px;
}

.card_info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card_price {
    background-color: var(--color-purlple);
    filter: brightness(90%);
    padding: 5px 20px;
    border-radius: 20px;
    text-align: center;
}

/* modal */

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal {
    background-color: #fff;
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    position: relative;
}

.modal .close-modal {
    color: #000;
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
}

/* modal ativo */

.modal-overlay.active{
    opacity: 1;
    visibility: visible;
}

iframe {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 6%;
}